body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #9b59b6, #8e44ad);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 800px;
}

.login-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.login-image img {
    width: 250px;
    height: auto;
    border-radius: 110px;
}

.login-form {
    padding-left: 50px;
    width: 100%;
}

.login-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 15px;
    border-radius: 30px;
    border: none;
    background-color: #f1f1f1;
    font-size: 16px;
}

button[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #2ecc71;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #27ae60;
}

.links {
    margin-top: 20px;
    text-align: center;
}

.links a {
    display: block;
    color: #27ae60;
    text-decoration: none;
    margin-top: 10px;
    font-size: 14px;
}

.links a:hover {
    text-decoration: underline;
}
